@import url("./normalize.scss");
@import url("./fonts.scss");

$main-color: #f0f2f7;
$primary-color: #fff;
$lite-blue-color: #40a9ff;
$dark-blue-color: #234d96;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  padding: env(safe-area-inset)
}

html,
body {
  height: 100%;
  font-family: Play, sans-serif;

  &.overflow {
    overflow: hidden;
  }
}

/* stylelint-disable */
@mixin underline-animation($underline-color, $height, $bottom) {
  &::before {
    content: "";
    position: absolute;
    bottom: $bottom;
    width: 100%;
    height: $height;
    background-color: $underline-color;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out 0s;
  }

  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus {
    &::before {
      transform: scaleX(1);
      transition: transform 0.4s ease-in-out 0s;
    }
  }
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
  max-width: 1110px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    max-width: 570px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
    max-width: 860px;
    padding-left: 24px;
    padding-right: 24px;
  }
}


.row {
  display: flex;
  flex-direction: row;

  &.gap {
    gap: 30px;
  }
}

.header-container {
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  .menu-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .burger {
    width: 25px;
    height: 3px;
    background-color: $lite-blue-color;
    border-radius: 5px;
    position: relative;
    transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 3px;
      background-color: $lite-blue-color;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
    }

    &::before {
      transform: translateY(-6px);
    }

    &::after {
      top: 6px;
    }

    &.open {
      transform: translateX(-50px);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: $primary-color;
      }

      &::after {
        transform: rotate(-45deg) translate(39px, 30px);
        background-color: $primary-color;
      }
    }
  }

  .mobile-menu {
    display: none;
    position: absolute;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(110.14deg, #274A99 0%, #1D75BC 100%);
    height: 100vh;
    top: 90px;
    left: 0;
    padding: 60px 24px;

    .cs-menu-item a {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }

    &.open {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  @media only screen and (max-width: 1090px) {
    .menu-button {
      display: flex;
    }

    .cs-menu-container,
    .cs-social-networks {
      display: none;
    }
  }
}

.cs {
  &-header {
    background-color: $dark-blue-color;
    color: $primary-color;
    padding: 20px 60px;
    position: sticky;
    top: 0;
    z-index: 9;

    &.fixed,
    &.open {
      background: linear-gradient(110.14deg, #274A99 0%, #1D75BC 100%);
    }

    @media only screen and (max-width: 1090px) {
      padding: 15px 24px;
    }
  }

  &-logo-container {
    a {
      display: block;
    }

    @media only screen and (max-width: 1090px) {
      width: 60px;
      height: 60px;

      img {
        width: 100%;
      }
    }
  }

  &-menu {
    &-container {
      display: flex;
      gap: 45px;
    }

    &-item a {
      position: relative;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: $primary-color;
      text-decoration: none;
      padding: 10px 0;

      @include underline-animation($lite-blue-color, 2px, 0);

      @media only screen and (max-width: 1200px) {
        font-size: 14px;
      }
    }
  }

  &-contacts {
    display: flex;
    gap: 62px;
    align-items: center;
  }

  &-phone a {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $primary-color;
    text-decoration: none;

    &:hover {
      color: $lite-blue-color;
    }

    @media only screen and (max-width: 1200px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &-social-networks {
    display: flex;
    gap: 20px;

    a {
      display: block;
      color: $primary-color;
      text-decoration: none;

      i {
        font-size: 30px;

        &:hover {
          color: $lite-blue-color;
        }
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
  }

  &-content {
    flex: 1 0 auto;
  }

  &-footer {
    flex: 0 0 auto;
    padding: 60px;
    background: linear-gradient(110.14deg, #274A99 0%, #1D75BC 100%);

    .logo {
      display: flex;
      flex-direction: column;
      gap: 28px;

      a {
        display: block;
      }

      p {
        color: $primary-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .footer-container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;

      .menu {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          color: $primary-color;
          text-decoration: none;

          &:hover {
            color: $lite-blue-color;
          }
        }
      }

      .contacts-container {
        display: flex;
        flex-direction: row;
        gap: 100px;

        .info {
          display: flex;
          flex-direction: column;
          gap: 32px;
          color: $primary-color;

          .may-call {
            display: flex;
            flex-direction: column;
            gap: 15px;

            a {
              display: none;
              color: $primary-color;
              font-weight: 700;
              font-size: 18px;
              line-height: 21px;
              text-decoration: none;
            }
          }

          p {
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
          }

          .text {
            display: flex;
            position: relative;
            padding-left: 20px;
            max-width: 216px;
            text-align: left;

            i {
              position: absolute;
              font-size: 25px;
              top: -3px;
              left: -20px;
            }

            a {
              display: block;
              color: $primary-color;
              text-decoration: none;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;

              &:hover {
                color: $lite-blue-color;
              }
            }

            &.phone {
              flex-direction: column;

              a {
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
              }
            }
          }
        }

        .social {
          display: flex;
          gap: 15px;

          a {
            display: block;
            color: $primary-color;
            text-decoration: none;

            i {
              font-size: 25px;
            }

            &:hover {
              color: $lite-blue-color;
            }
          }
        }
      }

      @media only screen and (max-width: 991px) {
        flex-direction: column;

        .logo,
        .menu {
          display: none;
        }

        .contacts-container {
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .info {
            justify-content: center;
            align-items: center;

            .may-call {
              width: 100%;
              text-align: center;

              a {
                display: block;
              }
            }

            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }

  &-first-screen {
    display: flex;
    position: relative;
    padding: 124px 0 224px 0;
    width: 100%;
    height: 100%;
    background: url("../images/Image2.png") no-repeat bottom center;
    background-size: cover;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      background: url('../images/Vector.png') no-repeat bottom center;
      background-size: cover;
      width: 100%;
      z-index: 2;
      padding-bottom: 4.2%;
    }

    @media only screen and (max-width: 1090px) {
      padding: 30px 0 160px 0;
    }
  }

  &-side {
    z-index: 1;

    @media only screen and (max-width: 1090px) {
      text-align: center;
    }

    &.left {
      max-width: 540px;
      flex: 1.5;
      text-align: left;

      @media only screen and (max-width: 1090px) {
        text-align: center;
        max-width: 100%;
      }

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 30px;

        span {
          color: $lite-blue-color;
        }

        @media only screen and (max-width: 1090px) {
          font-size: 30px;

          span {
            display: block;
          }

        }
      }

      .sub-title {
        font-weight: 400;
        font-size: 24px;
        font-style: normal;
        line-height: 120%;
        color: $primary-color;

        @media only screen and (max-width: 1090px) {
          font-size: 16px;
        }
      }
    }

    &.right {
      flex: 1;
      max-width: 350px;

      .form {
        text-align: center;

        .title {
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 30px;
          color: $primary-color;

          span {
            color: $lite-blue-color;
          }

          @media only screen and (max-width: 1090px) {
            font-size: 20px;
          }
        }
      }

      @media only screen and (max-width: 1090px) {
        max-width: 100%;
      }

      @media only screen and (max-width: 900px) {
        max-width: 100%;
      }
    }
  }
}

.form-row {
  gap: 220px;
  justify-content: space-between;

  @media only screen and (max-width: 1090px) {
    gap: 30px;
    flex-direction: column;
  }
}

.btn-main {
  padding: 20px 22px;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: $lite-blue-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
  border: none;
  border-radius: 10px;
  transition: all .4s ease-in-out;

  &:hover {
    background-image: linear-gradient(91.68deg, #259DFF 0%, #8FCDFF 100%);
    cursor: pointer;
  }
}

.btn-slider {
  width: 60px;
  height: 60px;
  display: flex;
  background-color: $primary-color;
  border-radius: 50%;
  align-items: center;
  color: $lite-blue-color;
  justify-content: center;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  &:hover {
    cursor: pointer;
    background-color: $lite-blue-color;
    color: $primary-color;
  }

  &.btn-prev {
    left: -120px;
  }

  &.btn-next {
    right: -120px;
  }
}

.item {
  padding: 30px;
  background-color: $primary-color;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  justify-content: left;
  align-items: center;
  max-width: 100%;
  min-width: 350px;
  color: #141414;

  .icon {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $lite-blue-color;
    box-sizing: border-box;
    padding: 0 15px;

    i {
      font-size: 25px;
      color: $lite-blue-color;
    }
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  @media only screen and (max-width: 1090px) {
    min-width: 100%;
  }
}

.title-container {
  padding-bottom: 60px;

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 30px;
    position: relative;

    &.white {
      color: $primary-color
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      height: 2px;
      background-color: $lite-blue-color;
      bottom: -10px;
      left: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }
  }

  .sub-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #777777;
    text-align: center;
  }

  @media only screen and (max-width: 1090px) {
    padding-bottom: 45px;

    .title {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

.container-about-us {
  position: relative;

  .about-us {
    position: relative;

    &-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      position: absolute;
      top: -50%;
      transform: translate(0, -50%);
      z-index: 2;
      width: 100%;

      .item {
        min-width: 100%;
      }

      @media only screen and (max-width: 1090px) {
        display: flex;
        flex-direction: column;
        top: -22%;
        transform: translate(0, -22%);

        .item {
          padding: 24px;
          min-width: 33.33%;
        }
      }
    }
  }
}

.steps-of-work {
  background-color: $main-color;
  padding: 180px 0 120px 0;

  .steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .item {
      align-items: flex-start;
      gap: 15px;
      min-height: 120px;
      position: relative;
      width: 350px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -20px;
        border-style: solid;
        transform: translate(0, -50%);
        border-width: 15px 0 15px 20px;
        border-color: transparent transparent transparent $primary-color;
        transform: rotate(0deg);
      }

      .info {
        max-width: 215px;

        .title {
          font-size: 18px;
          line-height: 21px;
          text-align: left;
        }

        .sub-title {
          font-size: 14px;
          line-height: 120%;
          text-align: left;
          padding: 0;
        }
      }
    }

    @media only screen and (max-width: 1090px) {
      grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 1090px) {
    padding: 380px 0 60px 0;
  }
}

.service-screen {
  padding: 120px 0;
  background: linear-gradient(123.35deg, #1d75bc 0%, #274a99 100%);
  display: block;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: url('../images/Vector-White.png') no-repeat bottom center;
    background-size: cover;
    width: 100%;
    z-index: 2;
    padding-bottom: 4.2%;
  }

  .services {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .item {
      flex-direction: column;
      min-width: auto;
      gap: 15px;
      flex: 1;

      .btn-main {
        width: 150px;
      }

      &-title {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin-bottom: 15px;

        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 100%;
          text-transform: uppercase;
          color: #141414;
          margin-bottom: 5px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #777777;
        }
      }

      &-content {
        padding-bottom: 15px;
        border-bottom: 1px solid #E8E8E8;
        min-height: 480px;

        ul {
          list-style-type: none;
          margin-bottom: 20px;

          li {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            padding-left: 20px;
            display: flex;
            align-items: center;
            position: relative;
            padding-bottom: 10px;

            &::before {
              content: '';
              display: block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: $lite-blue-color;
              position: absolute;
              left: 0;
              top: 5px;
            }
          }
        }

        .info {
          font-weight: 400;
          font-size: 12px;
          line-height: 120%;
          color: #777777;
        }
      }

      .price {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;

        .summ {
          font-weight: 700;
          font-size: 36px;
          line-height: 42px;
          text-transform: uppercase;

          span {
            font-size: 16px;
          }

          @media only screen and (max-width: 768px) {
            font-size: 30px;
            line-height: 35px;

            span {
              font-size: 12px;
            }
          }

          @media only screen and (max-width: 480px) {
            font-size: 20px;
            line-height: 25px;

            span {
              font-size: 12px;
            }
          }
        }
      }

      &.transparent {
        background-color: transparent;
        border: 1px dashed $main-color;
        border-radius: 10px;
        min-width: 350px;
        flex: inherit;

        .icon {
          background-color: $primary-color;
          border: none;

          i {
            color: $lite-blue-color;
          }
        }

        h3,
        p {
          color: $primary-color;
        }

        @media only screen and (max-width: 900px) {
          min-width: 100%;
        }
      }
    }

    &-transparent {
      margin: 60px 0 0 0;
      justify-content: center;
    }

    @media only screen and (max-width: 1090px) {
      flex-direction: column;

      .item {
        width: 100%;
        max-width: 100%;

        &-content {
          min-height: auto;
        }
      }
    }
  }

  @media only screen and (max-width: 1090px) {
    padding: 60px 0;

    .item {
      padding: 24px;
      align-items: flex-start;

      .item-content {
        width: 100%;
      }
    }

    .services-transparent {
      margin-top: 20px;
    }
  }
}

.why-us {
  background-color: $primary-color;
  padding: 120px 0;

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

    .item {
      padding: 0;
      align-items: flex-start;
      gap: 15px;
      min-width: 100%;

      .icon {
        width: fit-content;
        display: flex;
        height: 60px;
        background-color: $lite-blue-color;

        i {
          color: $primary-color;
        }
      }

      .info {
        display: flex;
        gap: 10px;
        flex-direction: column;

        h3 {
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          color: #141414;
        }

        p {
          font-size: 14px;
          line-height: 120%;
          color: #141414;
        }
      }
    }
  }

  @media only screen and (max-width: 1090px) {
    flex-direction: column;
    padding: 60px 0;

    .items {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media only screen and (max-width: 768px) {
    .items {
      .item {
        flex-direction: column;
      }
    }
  }
}

.reviews {
  background-color: $main-color;
  padding: 120px 0;

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-slide {
    padding: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    margin: 15px;
    min-width: 255px;
    max-width: 540px;

    .slider-item {
      display: flex!important;
      gap: 30px;
      .photo {
        img{
          display: none;
          overflow: hidden;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .title {
          display: none;
        }
      }

      .title {
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #141414;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 15px;

        img {
          width: 30px;
          height: 30px;
        }
      }

      .info {
        flex: 1;

        .comment {
          font-weight: 400;
          font-size: 14px;
          line-height: 120%;
        }
      }
    }

    &.slick-active {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;
        background: linear-gradient(1.5deg, #FFFFFF 1.28%, rgba(255, 255, 255, 0) 98.73%);
  
      }
  
      @media only screen and (max-width: 1090px) {
        &::after {
          content: '';
          background: none;
        }
  
        .photo {
          img {
            display: block;
          }
        }
      }
  
      &.slick-center {
        width: 540px;
        height: 100%;
        &::after {
          background: none;
        }
  
        .photo {
          img {
            display: block;
          }
        }
      }
    }
    @media only screen and (max-width: 1090px) {
      max-width: inherit;
      width: 500px;
    }

    @media only screen and (max-width: 991px) {
      max-width: inherit;
      width: 800px;
    }

    @media only screen and (max-width: 768px) {
      max-width: inherit;
      width: 500px;
      .slider-item {
        flex-direction: column;
        .photo {
          display: flex;
          flex-direction: row;
          gap: 30px;
          .title {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            gap: 15px;
    
            img {
              width: 24px;
              height: 24px;
            }
          }
        }
        .info {
          .title {
            display: none;
          }
        }
      }
    }
  }

  .slick-dots {
    bottom: -60px;

    li {
      width: 16px;
      height: 16px;

      button {
        width: 16px;
        height: 16px;

        &:before {
          content: '';
          width: 8px;
          height: 8px;
          top: 50%;
          transform: translate(0, -50%);
          background-color: $lite-blue-color;
          border-radius: 50%;
          opacity: 1;
          margin: 0 auto;
          left: 0;
          right: 0;
          z-index: 2;
        }
      }

      &.slick-active {
        button {
          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 16px;
            top: 50%;
            transform: translate(0, -50%);
            background-color: $lite-blue-color;
            border-radius: 50%;
            opacity: 0.25;
            margin: 0 auto;
            left: 0;
            right: 0;
            z-index: 1;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1090px) {
    padding: 60px 0;
  }

}

.contacts {
  display: flex;
  position: relative;
  padding: 120px 0;
  width: 100%;
  height: 100%;
  background: url("../images/Image2.png") no-repeat bottom center;
  background-size: cover;

  .contacts-info {
    display: grid;
    gap: 60px 30px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 52px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 40px;

    .info {
      display: flex;
      width: 250px;
      gap: 15px;

      .icon-container {
        width: 60px;
        height: 60px;
        padding: 0 18px;
        display: flex;
        background-color: $lite-blue-color;
        border-radius: 50%;
        color: $primary-color;
        font-size: 24px;
        align-items: center;
        justify-content: center;
      }

      .text {
        color: $primary-color;

        .title {
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 10px;
        }

        .text-info {
          font-weight: 400;
          font-size: 16px;

          a {
            text-decoration: none;
            color: $primary-color;
            display: block;
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;

      .info {
        text-align: left;
      }
    }
  }

  .social-networks {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .item {
      border: 2px solid #40A9FF;
      border-radius: 10px;
      padding: 12px 16px;
      background-color: transparent;
      display: flex;
      color: $primary-color;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      min-width: 160px;
      text-transform: uppercase;
      text-decoration: none;

      i {
        font-size: 20px;
      }

      &:hover {
        background-color: $lite-blue-color;
        cursor: pointer;
      }

      @media only screen and (max-width: 768px) {
        min-width: 88px;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        gap: 10px;
      }
    }

    @media only screen and (max-width: 900px) {
      justify-content: center;
    }
  }

  .cs {
    &-side {
      z-index: 1;

      @media only screen and (max-width: 1090px) {
        text-align: center;
      }

      &.left {
        max-width: 540px;
        flex: 1.5;
        text-align: left;

        @media only screen and (max-width: 1090px) {
          text-align: center;
          max-width: 100%;
        }
      }

      &.right {
        flex: 1;
        max-width: 350px;

        .form {
          text-align: center;

          .title {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;

            span {
              color: $primary-color;
              text-transform: none;
            }

            p {
              font-weight: 700;
              text-transform: uppercase;

              span {
                text-transform: uppercase;
                color: $lite-blue-color;
              }
            }
          }
        }

        @media only screen and (max-width: 1090px) {
          max-width: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 60px 0;
  }
}

.instagram {
  padding: 120px 0;
  background-color: $primary-color;

  @media only screen and (max-width: 900px) {
    padding: 60px 0;
  }
}

.payment-method {
  padding: 120px 0;
  background-color: $main-color;

  .methods {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 30px;

    .item {
      flex: 1;
      min-width: auto;
      position: relative;
      font-weight: 700;
      font-size: 14px;
      line-height: 120%;
      padding: 45px 30px 30px 30px;
      align-items: center;
      text-align: center;
      justify-content: center;

      .icon-container {
        display: flex;
        flex: 1;
        width: 60px;
        height: 60px;
        background-color: $lite-blue-color;
        color: $primary-color;
        font-size: 24px;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 50%;
        top: -50%;
        left: 0;
        right: 0;
        transform: translate(0, 50%);
        margin: 0 auto;
      }
      .text {
        min-height: 34px;
      }
    }

    .slick-dots {
      bottom: -30px;

      li {
        width: 16px;
        height: 16px;

        button {
          width: 16px;
          height: 16px;

          &:before {
            content: '';
            width: 8px;
            height: 8px;
            top: 50%;
            transform: translate(0, -50%);
            background-color: $lite-blue-color;
            border-radius: 50%;
            opacity: 1;
            margin: 0 auto;
            left: 0;
            right: 0;
            z-index: 2;
          }
        }

        &.slick-active {
          button {
            &::after {
              content: '';
              position: absolute;
              display: block;
              width: 16px;
              height: 16px;
              top: 50%;
              transform: translate(0, -50%);
              background-color: $lite-blue-color;
              border-radius: 50%;
              opacity: 0.25;
              margin: 0 auto;
              left: 0;
              right: 0;
              z-index: 1;
            }
          }
        }
      }
    }
    @media only screen and (max-width: 1090px) {
      .slick-slide {
        margin: 30px 15px;
      }
    }
    @media only screen and (max-width: 991px) {
      .item {
        padding: 55px 30px 30px 30px;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    padding: 60px 0;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  margin-bottom: 40px;

  input {
    padding: 0 20px 0 54px;
    width: 100%;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: $primary-color;

    &:hover,
    &:focus {
      outline: none;
    }

    &.error {
      border: 1px solid $lite-blue-color;
    }
  }

  i {
    position: absolute;
    color: #999999;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    font-size: 20px;
  }

  label.error {
    position: absolute;
    color: $primary-color;
    bottom: -20px;
    font-size: 12px;
  }
}

.purchase-process-car__tiles {
  position: relative
}

.purchase-process-car__tiles .line {
  position: absolute;
  top: 60px;
  left: 20px;
  width: 1px;
  background: #0c62d5;
  height: 400px;
  display: flex;
  transition: .2s
}

@media (max-width: 1400px) and (min-width:991px) {
  .purchase-process-car__tiles .line {
    top: 4.166666666666666vw;
    left: 1.3888888888888888vw;
    height: 27.77777777777778vw
  }
}

.purchase-process-car__tile {
  max-width: 620px;
  margin: 20px 0;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

@media (max-width: 1400px) and (min-width:991px) {
  .purchase-process-car__tile {
    max-width: 43.05555555555556vw;
    margin: 1.3888888888888888vw 0
  }
}

.purchase-process-car__tile-circle {
  width: 40px;
  position: absolute;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  background: #fff;
  border: 1px solid #0c62d5;
  box-sizing: border-box;
  box-shadow: 0 0 0 4px #fff;
  border-radius: 50%
}

@media (max-width: 1400px) and (min-width:991px) {
  .purchase-process-car__tile-circle {
    font-size: 1.3888888888888888vw;
    line-height: 1.8055555555555554vw;
    width: 2.7777777777777777vw;
    height: 2.7777777777777777vw
  }
}

.purchase-process-car__tile-circle-animate {
  display: none
}

.purchase-process-car__tile-circle-number {
  display: flex;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin: 7px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #0c62d5
}

@media (max-width: 1400px) and (min-width:991px) {
  .purchase-process-car__tile-circle-number {
    width: 1.8055555555555554vw;
    height: 1.8055555555555554vw;
    margin: .4861111111111111vw;
    font-size: 1.3888888888888888vw;
    line-height: 1.8055555555555554vw
  }
}

.purchase-process-car__tile-row {
  margin: 7px 0 0;
  width: calc(100% - 64px)
}

@media (max-width: 1400px) and (min-width:991px) {
  .purchase-process-car__tile-row {
    width: calc(100% - 4.44444vw);
    margin: .4861111111111111vw 0 0
  }
}

.purchase-process-car__tile-row-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #152242;
  margin: 0 0 15px
}

@media (max-width: 1400px) and (min-width:991px) {
  .purchase-process-car__tile-row-caption {
    font-size: 1.3888888888888888vw;
    line-height: 1.8055555555555554vw;
    margin: 0 0 1.0416666666666665vw
  }
}

.purchase-process-car__tile-text {
  font-size: 18px;
  line-height: 24px;
  color: #737a8e
}

@media (max-width: 1400px) and (min-width:991px) {
  .purchase-process-car__tile-text {
    font-size: 1.25vw;
    line-height: 1.6666666666666667vw
  }
}

@media (max-width: 767px) {
  .purchase-process-car__tile-text {
    font-size: 16px;
    line-height: 20px
  }
}

.animate {
  display: flex
}

.hidden {
  display: none;
}

.thanks-modal,
.request-form {
  background: $main-color !important;
  border-radius: 10px;
  padding: 23px 30px;
  min-width: 410px;

  .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 30px;
  }

  label.error {
    position: absolute;
    color: $lite-blue-color;
    bottom: -20px;
    font-size: 12px;
  }

  @media (max-width: 480px) {
    min-width: 100%;
  }
}

.fancybox-button {
  color: $lite-blue-color !important;
}

.fancybox-bg {
  background: linear-gradient(110.14deg, rgba(39, 74, 153, 0.5) 0%, rgba(29, 117, 188, 0.5) 100%) !important;
}
.top-anchor {
  position: fixed;
  bottom: 60px;
  right: 60px;
  width: 45px;
  height: 45px;
  display: flex;
  background-color: $lite-blue-color;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  font-size: 20px;
  text-decoration: none;
  border-radius: 50%;
  z-index: 4;
  margin-left: auto;
  @media (max-width: 991px) {
    right: 24px;
  }
}