@import url("./normalize.scss");
@import url("./fonts.scss");

$main-color: #f0f2f7;
$primary-color: #fff;
$lite-blue-color: #40a9ff;
$dark-blue-color: #234d96;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Play, sans-serif;

  &.overflow {
    overflow: hidden;
  }
}

/* stylelint-disable */
@mixin underline-animation($underline-color, $height, $bottom) {
  &::before {
    content: "";
    position: absolute;
    bottom: $bottom;
    width: 100%;
    height: $height;
    background-color: $underline-color;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out 0s;
  }

  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus {
    &::before {
      transform: scaleX(1);
      transition: transform 0.4s ease-in-out 0s;
    }
  }
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
  max-width: 1110px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    max-width: 570px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 100%;
    max-width: 860px;
    padding-left: 24px;
    padding-right: 24px;
  }
}


.row {
  display: flex;
  flex-direction: row;

  &.gap {
    gap: 30px;
  }
}

.header-container {
  max-width: 1320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  .menu-button {
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .burger {
    width: 25px;
    height: 3px;
    background-color: $lite-blue-color;
    border-radius: 5px;
    position: relative;
    transition: all 0.5s ease-in-out;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 3px;
      background-color: $lite-blue-color;
      border-radius: 5px;
      transition: all 0.5s ease-in-out;
    }
    &::before {
      transform: translateY(-6px);
    }
    &::after {
      top: 6px;
    }
    &.open {
      transform: translateX(-50px);
      background: transparent;
      &::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: $primary-color;
      }
      &::after {
        transform: rotate(-45deg) translate(39px, 30px);
        background-color: $primary-color;
      }
    }
  }
  .mobile-menu {
    display: none;
    position: absolute;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(110.14deg, #274A99 0%, #1D75BC 100%);
    height: 100vh;
    top: 90px;
    left: 0;
    padding: 60px 24px;
    .cs-menu-item a {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
    &.open {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
  @media only screen and (max-width: 1090px) {
    .menu-button {
      display: flex;
    }
    .cs-menu-container, .cs-social-networks {
      display: none;
    }
  }
}

.cs {
  &-header {
    background-color: $dark-blue-color;
    color: $primary-color;
    padding: 20px 60px;
    position: sticky;
    top: 0;
    z-index: 9;
    &.open {
      background: linear-gradient(110.14deg, #274A99 0%, #1D75BC 100%);
    }
    @media only screen and (max-width: 1090px) {
      padding: 15px 24px;
    }
  }
  &-logo-container {
    a {
      display: block;
    }
    @media only screen and (max-width: 1090px) {
      width: 60px;
      height: 60px;
      img {
        width: 100%;
      }
    }
  }

  &-menu {
    &-container {
      display: flex;
      gap: 45px;
    }

    &-item a {
      position: relative;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: $primary-color;
      text-decoration: none;
      padding: 10px 0;

      @include underline-animation($lite-blue-color, 2px, 0);

      @media only screen and (max-width: 1200px) {
        font-size: 14px;
      }
    }
  }

  &-contacts {
    display: flex;
    gap: 62px;
    align-items: center;
  }

  &-phone a {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: $primary-color;
    text-decoration: none;

    &:hover {
      color: $lite-blue-color;
    }

    @media only screen and (max-width: 1200px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &-social-networks {
    display: flex;
    gap: 20px;

    a {
      display: block;
      color: $primary-color;
      text-decoration: none;

      i {
        font-size: 30px;

        &:hover {
          color: $lite-blue-color;
        }
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  &-content {
    flex: 1 0 auto;
  }

  &-footer {
    flex: 0 0 auto;
  }

  &-first-screen {
    display: flex;
    position: relative;
    padding: 124px 0 224px 0;
    width: 100%;
    height: 100%;
    background: url("../images/Image2.png") no-repeat bottom center;
    background-size: cover;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      background: url('../images/Vector.png') no-repeat bottom center;
      background-size: cover;
      width: 100%;
      z-index: 2;
      padding-bottom: 4.2%;
    }

    @media only screen and (max-width: 1200px) {
      padding: 30px 0 160px 0;
    }
  }

  &-side {
    z-index: 1;

    @media only screen and (max-width: 1200px) {
      text-align: center;
    }

    &.left {
      max-width: 540px;
      flex: 1.5;
      text-align: left;

      @media only screen and (max-width: 1200px) {
        text-align: center;
        max-width: 100%;
      }

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 120%;
        text-transform: uppercase;
        color: $primary-color;
        margin-bottom: 30px;

        span {
          color: $lite-blue-color;
        }
        @media only screen and (max-width: 1200px) {
          font-size: 30px;
          span {
            display: block;
          }
          
        }
      }

      .sub-title {
        font-weight: 400;
        font-size: 24px;
        font-style: normal;
        line-height: 120%;
        color: $primary-color;

        @media only screen and (max-width: 1200px) {
          font-size: 16px;
        }
      }
    }

    &.right {
      flex: 1;
      max-width: 350px;

      .form {
        text-align: center;

        .title {
          font-weight: 700;
          font-size: 30px;
          line-height: 35px;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 30px;
          color: $primary-color;

          span {
            color: $lite-blue-color;
          }
          @media only screen and (max-width: 1200px) {
            font-size: 20px;
          }
        }

        input {
          width: 100%;
          background: $primary-color;
          border: none;
          border-radius: 10px;
          margin-bottom: 30px;
          padding: 0 20px;
          height: 50px;

          &:focus {
            border: none;
            outline: none;
          }
        }
      }

      @media only screen and (max-width: 1200px) {
        max-width: 80%;
        margin: 0 auto;
      }
      @media only screen and (max-width: 900px) {
        max-width: 100%;
      }
    }
  }
}

.form-row {
  gap: 220px;
  justify-content: space-between;

  @media only screen and (max-width: 1200px) {
    gap: 30px;
    flex-direction: column;
  }
}

.btn-main {
  padding: 20px 22px;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: $lite-blue-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
  border: none;
  border-radius: 10px;
  transition: all .4s ease-in-out;

  &:hover {
    background-image: linear-gradient(91.68deg, #259DFF 0%, #8FCDFF 100%);
    cursor: pointer;
  }
}

.btn-slider {
  width: 60px;
  height: 60px;
  display: flex;
  background-color: $primary-color;
  border-radius: 50%;
  align-items: center;
  color: $lite-blue-color;
  justify-content: center;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  &:hover {
    cursor: pointer;
    background-color: $lite-blue-color;
    color: $primary-color;
  }

  &.btn-prev {
    left: -120px;
  }

  &.btn-next {
    right: -120px;
  }
}

.item {
  padding: 30px;
  background-color: $primary-color;
  border-radius: 10px;
  display: flex;
  gap: 30px;
  justify-content: left;
  align-items: center;
  max-width: 100%;
  min-width: 350px;
  color: #141414;

  .icon {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid $lite-blue-color;
    box-sizing: border-box;
    padding: 0 15px;

    i {
      font-size: 25px;
      color: $lite-blue-color;
    }
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  @media only screen and (max-width: 1200px) {
    min-width: 100%;
  }
}

.title-container {
  padding-bottom: 60px;

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 30px;
    position: relative;

    &.white {
      color: $primary-color
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      height: 2px;
      background-color: $lite-blue-color;
      bottom: -10px;
      left: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }
  }

  .sub-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #777777;
    text-align: center;
  }

  @media only screen and (max-width: 1200px) {
    padding-bottom: 45px;

    .title {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}

.container-about-us {
  position: relative;

  .about-us {
    position: relative;

    &-row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      position: absolute;
      top: -50%;
      transform: translate(0, -50%);
      z-index: 2;
      width: 100%;

      @media only screen and (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        top: -22%;
        transform: translate(0, -22%);

        .item {
          padding: 24px;
          min-width: 33.33%;
        }
      }
    }
  }
}

.cs-second-screen {
  background-color: $main-color;
  padding: 180px 0 120px 0;

  .steps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .item {
      align-items: flex-start;
      gap: 15px;
      min-height: 120px;
      position: relative;
      width: 350px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: -20px;
        border-style: solid;
        transform: translate(0, -50%);
        border-width: 15px 0 15px 20px;
        border-color: transparent transparent transparent $primary-color;
        transform: rotate(0deg);
      }

      .info {
        max-width: 215px;

        .title {
          font-size: 18px;
          line-height: 21px;
          text-align: left;
        }

        .sub-title {
          font-size: 14px;
          line-height: 120%;
          text-align: left;
          padding: 0;
        }
      }
    }
    @media only screen and (max-width: 1090px) {
      grid-template-columns: 1fr;
    }
  }

  @media only screen and (max-width: 1200px) {
    padding: 380px 0 60px 0;
  }
}

.service-screen {
  padding: 120px 0;
  background: linear-gradient(123.35deg, #1d75bc 0%, #274a99 100%);
  display: block;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: url('../images/Vector-White.png') no-repeat bottom center;
    background-size: cover;
    width: 100%;
    z-index: 2;
    padding-bottom: 4.2%;
  }

  .services {
    display: flex;
    flex-direction: row;
    gap: 30px;

    .item {
      flex-direction: column;
      min-width: auto;
      gap: 15px;
      flex: 1;

      .btn-main {
        width: 150px;
      }

      &-title {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin-bottom: 15px;

        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 100%;
          text-transform: uppercase;
          color: #141414;
          margin-bottom: 5px;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #777777;
        }
      }

      &-content {
        padding-bottom: 15px;
        border-bottom: 1px solid #E8E8E8;
        min-height: 460px;

        ul {
          list-style-type: none;
          margin-bottom: 20px;

          li {
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            padding-left: 20px;
            display: flex;
            align-items: center;
            position: relative;
            padding-bottom: 10px;

            &::before {
              content: '';
              display: block;
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background-color: $lite-blue-color;
              position: absolute;
              left: 0;
              top: 5px;
            }
          }
        }

        .info {
          font-weight: 400;
          font-size: 12px;
          line-height: 120%;
          color: #777777;
        }
      }

      .price {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;

        .summ {
          font-weight: 700;
          font-size: 36px;
          line-height: 42px;
          text-transform: uppercase;

          span {
            font-size: 16px;
          }
          @media only screen and (max-width: 768px) {
            font-size: 30px;
            line-height: 35px;
            span {
              font-size: 12px;
            }
          }
          @media only screen and (max-width: 480px) {
            font-size: 20px;
            line-height: 25px;
            span {
              font-size: 12px;
            }
          }
        }
      }

      &.transparent {
        background-color: transparent;
        border: 1px dashed $main-color;
        border-radius: 10px;
        min-width: 350px;
        flex: inherit;

        .icon {
          background-color: $primary-color;
          border: none;

          i {
            color: $lite-blue-color;
          }
        }

        h3,
        p {
          color: $primary-color;
        }
        @media only screen and (max-width: 900px) {
          min-width: 100%;
        }
      }
    }

    &-transparent {
      margin: 60px 0 0 0;
      justify-content: center;
    }

    @media only screen and (max-width: 1200px) {
      flex-direction: column;

      .item {
        width: 100%;
        max-width: 100%;

        &-content {
          min-height: auto;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    padding: 60px 0;

    .item {
      padding: 24px;
      align-items: flex-start;

      .item-content {
        width: 100%;
      }
    }

    .services-transparent {
      margin-top: 20px;
    }
  }
}

.why-us {
  background-color: $primary-color;
  padding: 120px 0;

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;

    .item {
      padding: 0;
      align-items: flex-start;
      gap: 15px;
      min-width: 100%;

      .icon {
        width: fit-content;
        display: flex;
        height: 60px;
        background-color: $lite-blue-color;

        i {
          color: $primary-color;
        }
      }

      .info {
        display: flex;
        gap: 10px;
        flex-direction: column;

        h3 {
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          color: #141414;
        }

        p {
          font-size: 14px;
          line-height: 120%;
          color: #141414;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
    padding: 60px 0;

    .items {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 768px) {
    .items {
      .item {
        flex-direction: column;
      }
    }
  }
}

.reviews {
  background-color: $main-color;
  padding: 120px 0;

  .item {
    padding: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex !important;
    flex-direction: row;
    gap: 30px;
    width: 540px !important;
    margin: 0 30px;
    align-items: start;
    overflow: hidden;
    position: relative;

    .photo {
      display: none;
      overflow: hidden;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    .title {
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      text-transform: uppercase;
      color: #141414;
      margin-bottom: 10px;

      i {
        color: $lite-blue-color;
        font-size: 20px;
      }
    }

    .info {
      flex: 1;

      .comment {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
      }
    }
    @media only screen and (max-width: 768px) {
      width: auto !important;
    }
  }

  .slick-active {
    .item {
      &::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        top: 0;
        z-index: 1;
        background: linear-gradient(1.5deg, #FFFFFF 1.28%, rgba(255, 255, 255, 0) 98.73%);
        
      }
      @media only screen and (max-width: 1090px) {
        &::after {
          content: '';
          background: none;
        }
        .photo {
          display: block;
        }
      }
    }

    &.slick-center {
      .item {
        &::after {
          content: '';
          background: none;
        }

        .photo {
          display: block;
        }
      }
    }
  }
  @media only screen and (max-width: 1090px) {
    padding: 60px 0;
  }
  
}

.contacts {
  display: flex;
  position: relative;
  padding: 120px 0;
  width: 100%;
  height: 100%;
  background: url("../images/Image2.png") no-repeat bottom center;
  background-size: cover;

  .contacts-info {
    display: grid;
    gap: 60px 30px;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 52px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 30px;

    .info {
      display: flex;
      width: 250px;
      gap: 15px;
      .icon-container {
        width: 60px;
        height: 60px;
        padding: 0 18px;
        display: flex;
        background-color: $lite-blue-color;
        border-radius: 50%;
        color: $primary-color;
        font-size: 24px;
        align-items: center;
        justify-content: center;
      }
      .text {
        color: $primary-color;
        .title {
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 10px;
        }
        .text-info {
          font-weight: 400;
          font-size: 16px;
          a {
            text-decoration: none;
            color: $primary-color;
            display: block;
          }
        }
      }
    }
    @media only screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      .info {
        text-align: left;
      }
    }
  }
  .social-networks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    .item {
      border: 2px solid #40A9FF;
      border-radius: 10px;
      padding: 12px 16px;
      background-color: transparent;
      display: flex;
      color: $primary-color;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      min-width: 160px;
      text-transform: uppercase;
      text-decoration: none;
      i {
        font-size: 20px;
      }
      &:hover {
        background-color: $lite-blue-color;
        cursor: pointer;
      }
    }
    @media only screen and (max-width: 900px) {
      justify-content: center;
    }
    
  }

  .cs {
    &-side {
      z-index: 1;

      @media only screen and (max-width: 1200px) {
        text-align: center;
      }

      &.left {
        max-width: 540px;
        flex: 1.5;
        text-align: left;

        @media only screen and (max-width: 1200px) {
          text-align: center;
          max-width: 100%;
        }
      }

      &.right {
        flex: 1;
        max-width: 350px;

        .form {
          text-align: center;

          .title {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            span {
              color: $primary-color;
              text-transform: none;
            }
            p{
              font-weight: 700;
              text-transform: uppercase;
              span {
                text-transform: uppercase;
                color: $lite-blue-color;
              }
            }
          }

          input {
            width: 100%;
            background: $primary-color;
            border: none;
            border-radius: 10px;
            margin-bottom: 30px;
            padding: 20px 0;

            &:focus {
              border: none;
              outline: none;
            }
          }
        }

        @media only screen and (max-width: 1200px) {
          max-width: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: 900px) {
    padding: 60px 0;
  }
}
.instagram {
  padding: 120px 0;
  background-color: $primary-color;
  @media only screen and (max-width: 900px) {
    padding: 60px 0;
  }
}
.payment-method {
  padding: 120px 0;
  background-color: $main-color;
  @media only screen and (max-width: 900px) {
    padding: 60px 0;
  }
}